{% extends "_layouts/site" %}

{% set q = craft.request.getParam('cat') %}
{% set category = craft.categories('digestCategories').slug(q).first() %}
{% set entries = craft.entries.section('digest').relatedTo(category).find() %}

{% block content %}

	<header>
		<h3>You search for <strong>{{ category.title }}</strong></h3>
	</header>

	<section>
		{% for entry in entries %}
		    <h2>{{ entry.title }}</h2>
		{% endfor %}
	</section>

{% endblock %}
