<nav class="global-nav" id="js--global-nav">
	<button id="js--nav-close">CLOSE</button>

	<ul>

		{# Shows all single sections #}
		{# {% set sections = craft.sections.getAllSections() %}

		{% for singleSection in sections if singleSection.type == 'single' and not singleSection.isHomepage(false) %}

		    {% set singleEntry = craft.entries.sectionId(singleSection.id).first %}

		     <li class="nav__link">
				<a href="{{ singleEntry.url }}" class="section-link">{{ singleSection }}</a>
			</li>

		{% endfor %}#}

		{% for block in globalNav.navigationItem %}

	        <li class="nav__list-item">

	         	{% if block.type == "linkToEntry" %}

	         	    <a href="{{ block.entry.first().getUrl() }}" class="nav__link">{{ block.entryLabel }}</a>

	         	{% elseif block.type == "linkToCustomUrl" %}

	         	    <a href="{{ block.customUrl }}" target="_blank" class="nav__link">{{ block.customLabel }}</a>

	         	{% endif %}

	    	</li>

		{% endfor %}

		{% if currentUser %}
			
			{% set wiki = craft.entries.section('internalWikiIndex').first() %}

			<li class="nav__list-item nav__list-item--wiki">
				<a href="{{ wiki.url }}" target="_blank" class="nav__link">{{ wiki.title }}</a>
			</li>

		{% endif %}

	</ul>

	{% if currentUser %}
		
		<p>Hello {{ currentUser.friendlyName }}!</p>
		<a href="{{ logoutUrl }}">Logout</a>

	{% else %}

		<form method="post" accept-charset="UTF-8">
		    {{ getCsrfInput() }}
		    <input type="hidden" name="action" value="users/login">

		    <h3><label for="loginName">Username or email</label></h3>
		    <input id="loginName" type="text" name="loginName"
		        value="{{ craft.session.rememberedUsername }}">

		    <h3><label for="password">Password</label></h3>
		    <input id="password" type="password" name="password">

		    <label>
		        <input type="checkbox" name="rememberMe" value="1">
		        Remember me
		    </label>

		    <input type="submit" value="Login">

		    {% if errorMessage is defined %}
		        <p>{{ errorMessage }}</p>
		    {% endif %}
		</form>

	{% endif %}
</nav>