// Global Variables
// ----------------------
// 1. Colors
// 2. Values


// Colors
// ---------------
$grey:		#969696;
$lightgrey:	#f7f7f7;
$teal:		#0f7693;
$blue:		#2a4a92;
$yellow:	#ffcc00;


// Values
// ---------------
$max-width: 1024px;
$spacing:	32px;


// Fonts
// ---------------
$title-family: 'Roboto Mono';
$title-stack:  $title-family, Helvetica, Arial, sans-serif;

$body-family: 'Roboto';
$body-stack:  $body-family, Helvetica, Arial, sans-serif;