{% extends "_layouts/site" %}
{% set wiki = craft.entries.section('wiki') %}

{% block content %}

	<div class="wiki-wrapper">
		<article class="wiki__article">
			<h1 class="wiki__title">{{ entry.title }}</h1>
			<div class="wiki__content">
				{{ entry.body }}
			</div>
		</article>

		<aside class="aside">
			<nav class="wiki__aside">
				<ol>
					{% nav entry in wiki %}
						<li class="aside__list-item">
							<a href="{{ entry.url }}" class="aside__list-item__link">{{ entry.title }}</a>

							{% ifchildren %}
								<ul>
									{% children %}
								</ul>
							{% endifchildren %}
						</li>
					{% endnav %}
				</ol>
			</nav>
		</aside>

	</div>

	</article>
	
{% endblock %}
