@mixin defWidth {
    width: 100%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
}

@mixin link($color) {
    position: relative;
    color: $color;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($color, 0.6);
        transition: background-color 150ms $standard;
    }

    &:hover::after {
        background-color: $color;
    }
}

@mixin accent-type($color) {
    color: $color;
    font-family: $body-stack;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

@mixin underline($color, $secondaryColor: $color) {
    color: $color;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 lighten($secondaryColor, 20%);

    &:hover {
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 $secondaryColor;
    }
}
