// Global Variables
// ----------------------
// 1. Colors
// 2. Values


// Colors
// ---------------
$grey:		#969696;
$lightgrey:	#f7f7f7;
$teal:		#0f7693;
$blue:		#191970;
$yellow:	#ffcc00;
$red:	    #751c18;


// Values
// ---------------
$max-width: 1024px;
$spacing:	32px;
$nav-width: 300px;


// Fonts
// ---------------
$title-family: 'Source Sans Pro';
$title-stack:  $title-family, Helvetica, Arial, sans-serif;

$body-family: 'Roboto';
$body-stack:  $body-family, Helvetica, Arial, sans-serif;
