{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the
 # main site layout: the header, footer, and main content area.
 #
 # It’s never accessed directly. Instead it is extended by all of our main site
 # templates.
 #
 # This template defines one block region, `main`, which should be extended by
 # child templates to define the main contents for the page.
-#}

{% extends "_layouts/base" %}

{% block header %}
    {% include '_includes/global-header' %}
{% endblock %}

{# ------------------------------------------------------------------ #}

{% block body %}
    
		{% include '_includes/global-nav' %}

		<main class="content-wrapper" id="main" role="main">

			{% block content %}{% endblock %}

		</main>
			
{% endblock %}

{# ------------------------------------------------------------------ #}

{% block footer %}
   
	<footer id="footer">
		<section class="footer__sponsors">
			<h4 class="footer__title">{{ siteName }} Sponsors</h4>
			
			<ul class="footer__sponsor-list">

				{% for block in footer.sponsors %}
					<li>
						<a href="{{ block.linkToSponsor }}" target="_blank">{{ block.sponsorName }}</a>
					</li>
				{% endfor %}
				
			</ul>
		</section>

		<section class="footer__contact-info">
			<p>{{ contactInformation.address }}</p>
			<a href="mailto:{{ contactInformation.joltEmail }}" target="_blank">{{ contactInformation.joltEmail }}</a>
		</section>
	</footer>

{% endblock %}