{% extends "_layouts/site" %}
{% set title = "Event Calendar" %}
{% set bodyClass = "body--grey" %}

{% block content %}
	<section class="calendar">
		<h1>Calendar of Events</h1>
		{% for block in entry.embed %}
			<iframe
				src="{{ block.embedLink }}"
				style="border: 0"
				width="100%"
				height="600"
				frameborder="0"
				scrolling="no">
			</iframe>
		{% endfor %}
	</section>
{% endblock %}
