.footer {
	width: 100%;
	padding: 5em 0 3em;
	border-top: 3px solid $yellow;
	flex: none;
	background-color: $dark-blue;
	color: $soft-blue;
	font-size: 0.8rem;

		@include media($on-tablet) {
			box-sizing: border-box;
			padding: 2em;
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@include defWidth;

		@include media($on-mobile) {
				display: block;
		}
	}

	&__title {
		max-width: 200px;
		margin-top: 0;
		color: $yellow;
		font-weight: 400;
		font-size: 1rem;
	}

	&__sponsor {
		&-list {
			padding: 0;
			list-style-type: none;
		}

		@include underline($soft-blue, $soft-blue, $dark-blue);
	}

	&__address p {
		margin-top: 0;

			@include media($on-mobile) {
				margin-top: 2em;
		}
	}

	&__copyright {
		display: block;
	}

	&__contact-info a { 
		@include underline(lighten($soft-blue, 20%), lighten($soft-blue, 20%), $dark-blue);
	}
}
